.ArticleInfo{
    .article-comments{
        width:40%;
        margin:20px auto;
    }
    .comment-item{
        padding:10px;
    }
    .article-change-wrapper{
        padding-bottom: 30px;
    }
}