.article-wrapper {
    width: 80%;
    max-width: 900px;
    padding: 20px;
    margin-bottom: 40px;
    border: var(--main-darkgray-color) 1px solid;
    box-shadow: 3px 4px 15px -4px var(--main-black075-color);
    background-color: var(--main-ghostwhite-color);
}

.article-heading {
    text-align: center;
}

.article-content {
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
}

.article-content .content-img {
    width: 100px;
}

.article-content .content-description-wrapper {
    margin-left: 15px;
}

.article-content .content-description {
    text-align: justify;
}

.article-info {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

/* .article-info .info-text-date {
    font-style: italic;
} */

.article-info .info-text-author {
    margin-left: 20px;
    font-style: italic;
}

.article-info .info-read-more {
    color: var(--main-white-color);
    background-color: var(--main-steelblue-color);
    outline: none;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 1s;
}

.article-info .info-read-more:hover {
    background-color: var(--main-midnightblue-color);
}

