.Article {
    max-width: 900px;
    padding: 20px;
    margin-bottom: 40px;
    border: var(--main-darkgray-color) 1px solid;
    box-shadow: 3px 4px 15px -4px var(--main-black075-color);
    background-color: var(--main-ghostwhite-color);
    width: 80%;

    .article-heading {
        text-align: center;
    }
    
    .article-content {
        display: flex;
        margin-bottom: 30px;
        margin-top: 20px;
    
        .content-description-wrapper {
            margin-left: 15px;
        
            .content-description {
                text-align: justify;
            }
        }
    }

    .article-info {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    
        .info-text-author {
            margin-left: 20px;
            font-style: italic;
        }

        .info-read-more {
            color: var(--main-white-color);
            background-color: var(--main-steelblue-color);
            outline: none;
            border: none;
            padding: 15px 20px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 1s;
        
            &:hover {
                background-color: var(--main-midnightblue-color);
            }
        } 
    }
}