.StartPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/img/start-page/start-page-back.png') 50% 10%/cover no-repeat fixed;
    min-height: calc(100vh - 90px);
    .startpage-link {
        display: block;
        width: 200px;
        height: 60px;
        padding: 0 10px;
        line-height: 60px;
        text-align: center;
        background: var(--main-black-color);
        color: var(--main-white-color);
        box-shadow: 0px 2px 2px var(--main-black075-color);
        transition: all 0.5s;
        
        &:hover {
            background: var(--main-white-color);
            color: var(--main-black-color);
        }
    }
    @media(max-width: 768px) {
        background-position: 10% 50%;
    }
}