.Login{
   .login-wrapper{
    display: flex;
    width:100%;
    flex-direction: row;
        .login-image-wrapper{
         width: 55%;
        //  background: url('../../assets/img/login/login-image.png') no-repeat;
        background: url('../../assets/img/login/it_backgraund.jpg') no-repeat;
         background-size: cover;
         height: 100vh;
        }
        .login-content-wrapper{
         width:45%;
            .login-content-main-wrapper{
             width:75%;
             margin:15px auto;
             .login-button-wrapper{
                position: relative;
                top:-55px;
                left:140px;
                width: 125px;
                .btn-pass-wrapper{
                    margin-top:24px;
                    .btn-pass{
                        color:#4d4d4d;
                        text-decoration:none;
                        font-size:14px;
                        margin-left:60px;
                        height:40px;
                    }
                }
              }
             }


}
}

@media(max-width:768px){
   .login-image-wrapper{
       display:none;
       width:0;
   }
   .login-content-wrapper{
       width:100%;
   }
}
}