.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: var(--main-black-color);
    color: var(--main-ghostwhite-color);
    margin: 0 auto;

    .footer-content {
        .footer-link {
            font-style: italic;
            &:hover {
                color: var(--main-lightyellow-color);
            }
        }
    }
}