:root {
    --main-steelblue-color: #4682B4;
    --main-lightblue-color: #ADD8E6;
    --main-midnightblue-color: #191970;
    --main-dimgray-color: #696969;
    --main-darkgray-color: #A9A9A9;
    --main-white-color: #ffffff;
    --main-ghostwhite-color: #F8F8FF;
    --main-white075-color: rgba(255,255,255,0.75);
    --main-black075-color: rgba(0, 0, 0, 0.75);
    --main-black-color: #000000;
    --main-lightyellow-color: #FFFF66;
    --main-yellow-color: #FFFF00;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    font-family: 'Fira Sans', sans-serif;
    background: url("./assets/img/global/global-back.png");
}

.pointer {
    cursor: pointer;
}
